venv/
.env/
env/
.venv/

dataset/
refusal_direction_llava7b_smoke.pt
refusal_projections_llava7b_smoke.pt

refusal_direction_qwen2.5vl_text.pt
refusal_direction_llava7b_text.pt
new_project_scripts/dataset2/