venv/
.env/
env/
.venv/

dataset2
refusal_direction_llava7b_smoke.pt
refusal_projections_llava7b_smoke.pt

refusal_direction_qwen2.5vl_text.pt
refusal_direction_llava7b_text.pt
new_project_scripts/dataset2/
__pycache__/
project_scripts/hidden_states_llava.npz
dataset_vlsu
